body {
  font-family: Ebrima;
  font-weight: bold;
}

.navigations .SignInHome {
  background: transparent;
  color: white;
  font-family: Ebrima;
  font-weight: bold;
  font-size: large;
  border-radius: 5px;
  height: 45px;
  width: 100px;
  border: 2px solid white;
  cursor: pointer;
  margin-left: 40px;
  transition: .5s;
}

.navigations .SignInHome:hover {
  background: #fff;
  color: #162938;
}

.HomeButton {
  background: transparent;
  color: white;
  font-family: Ebrima;
  font-weight: bold;
  font-size: large;
  border-radius: 10px;
  height: 35px;
  width: 100px;
  border: none;
}

.AboutButton {
  background: transparent;
  color: white;
  font-family: Ebrima;
  font-weight: bold;
  font-size: large;
  border-radius: 10px;
  height: 35px;
  width: 160px;
  border: none;
}

.donationButton {
  background: transparent;
  color: white;
  font-family: Ebrima;
  font-weight: bold;
  font-size: large;
  border-radius: 10px;
  height: 35px;
  width: 100px;
  border: none;
}

.contactButton {
  background: transparent;
  color: white;
  font-family: Ebrima;
  font-weight: bold;
  font-size: large;
  border-radius: 10px;
  height: 35px;
  width: 100px;
  border: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  background: darkslategrey;
}

.logo {
  font-size: 2em;
  color: #fff;
  user-select: none;
}

.navigations a {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin-left: 30px;
}

.navigations a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: right;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navigations a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.bg {
  background: darkslategrey;
  max-width: 960px;
}

.slider {
  width: 100%;
  height: 100%;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  text-align: center;
  overflow: hidden;
  margin-left: 30%;
}
.image-container {
  width: 400%;
  background-color: pink;
  height: 500px;
  clear: both;
  position: relative;
  -webkit-transition: left 1s;
  -moz-transition: left 1s;
  -o-transition: left 1s;
  transition: left 1s;
}
.slide {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
}
#slide-1:target ~ .image-container {
  left: 0px;
}
#slide-2:target ~ .image-container {
  left: -100%;
}
#slide-3:target ~ .image-container {
  left: -200%;
}
#slide-4:target ~ .image-container {
  left: -300%;
}
.buttons {
  position: relative;
  top: -20px;
}
.buttons a {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.479);
}

 footer {
  background:	black;
  color: white;
  bottom: 0;
  font-size: 16px;
  width: 100vw;
  padding: 5%;
 }

 footer * {
  box-sizing: border-box;
  border: none;
  outline: none;
  align-items: left;
 }

 .moreAbout {
  width: 35%;
}

.buyStuff {
  width: 25%;
}

.newsletter {
  width: 35%;

}

.newsLbutton {
  height: 3vw;
  width: 20vw;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 8px;
}

.big {
  font-size: 20px;
  font-weight: bold;
}

.sub {
  background: green;
  width: 100px;
  height: 3vw;
  border-radius: 5px;
  font-size: 16px;
}